@page "/loginControl"

<AuthorizeView>
    <Authorized>
        <b>Hello, @context.User.Identity.Name!</b>
        <a class="ml-md-auto btn btn-primary" href="/api/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <form method="post" action="/api/login">
            <input type="text" placeholder="User Name" name="username" />
            &nbsp;&nbsp;
            <input type="password" placeholder="Password" name="password" />

            <button type="submit" class="ml-md-auto btn btn-primary">Login</button>
        </form>
    </NotAuthorized>
</AuthorizeView>
