@page "/CallServerSide"
@using BluePope.WorkPortal.Controllers
@using System.Net.Http
@inject HttpClient http
@inject NavigationManager uriHelper
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
<h3>Call Server Side</h3>
<p>Current User: @CurrentUser.UserName</p>
<p>IsAuthenticated: @CurrentUser.IsAuthenticated</p>
<button class="btn btn-primary" @onclick="GetUser">Get User</button>
@code {
    UserModel CurrentUser = new UserModel();
    async Task GetUser()
    {
        // Code courtesy from Oqtane.org (@sbwalker)
        // We must pass the authentication cookie in server side requests
        var authToken = httpContextAccessor.HttpContext.Request.Cookies[".AspNetCore.Cookies"];
        if (authToken != null)
        {
            http.DefaultRequestHeaders.Add("Cookie", ".AspNetCore.Cookies=" + authToken);

            // Call the server side controller
            var url = uriHelper.ToAbsoluteUri("/api/User/GetUser");
            var result = await http.GetStringAsync(url.ToString());
            var model = System.Text.Json.JsonSerializer.Deserialize<UserModel>(result);

            // Update the result
            CurrentUser.UserName = model.UserName;
            CurrentUser.IsAuthenticated = model.IsAuthenticated;
        }
    }
}
